<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Organization Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: 0 auto;
            margin-top: 20px;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Organization Generator</h1>
        <form id="org-form" class="mt-4">
            <div class="form-group">
                <label for="org-number">Number of Organizations</label>
                <input type="number" class="form-control" id="org-number" placeholder="Enter number of organizations">
            </div>
            <div class="form-group">
                <label for="description-switch">Enable custom prompt</label>
                <input type="checkbox" id="description-switch" checked data-toggle="toggle">
            </div>
            <div class="form-group">
                <label for="customPrompt">Custom prompt</label>
                <textarea class="form-control" id="customPrompt" rows="3">Your goal is to generate a well-structured list of volunteering organizations that can provide humanitarian aid have not been contacted yet and are suitable for Eastern Europe.</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div id="loader" class="hidden">
            <div class="loader"></div>
            <p>Loading...</p>
        </div>

        <table class="table mt-4" id="org-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Organization Name</th>
                    <th>Website</th>
                    <th>Contact Information</th>
                    <th>Specialization</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>

<script>

$('#org-form').on('submit', function(e) {
    e.preventDefault();
    $('#loader').removeClass('hidden');
    var generated_organizations = 0;
    var organization_number = 0;
    var total_organizations = $('#org-number').val();
    var description = $('#description-switch').prop('checked') ? $('#customPrompt').val() : undefined;
    var generateOrganizations = function() {
        var data = { number: Math.min(10, total_organizations - generated_organizations) };
        if(description !== undefined) {
            data.description = description;
        }
        $.ajax({
            type: "POST",
            url: "/generate",
            data: data,
            success: function(response) {
                generated_organizations += response.length;
                response.forEach(function(org) {
                    organization_number++;
                    $('#org-table tbody').append(
                        '<tr>' +
                            '<td>' + organization_number + '</td>' +
                            '<td>' + org['Organization Name'] + '</td>' +
                            '<td><a href="' + org['Website'] + '" target="_blank">' + org['Website'] + '</a></td>' +
                            '<td>' + org['Contact Information'] + '</td>' +
                            '<td>' + org['Specialization'] + '</td>' +
                        '</tr>'
                    );
                });
                var tableData = $('#org-table tbody').html();
                localStorage.setItem('orgData', JSON.stringify(tableData));
                if (generated_organizations < total_organizations) {
                    generateOrganizations();
                } else {
                    $('#loader').addClass('hidden');
                }
            }
        });
    };
    generateOrganizations();
});


$('#description-submit').on('click', function(e) {

    $.ajax({
        type: "POST",
        url: "/description",
        data: { description: description },
        success: function(response) {
            console.log("The server responded with: " + response);
        }
    });
});

$('#description-switch').change(function() {
    if(this.checked) {
        $('#customPrompt').prop('disabled', false);
    } else {
        $('#customPrompt').prop('disabled', true);
    }
});
</script>
</html>
